@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="text"], input[type="password"],input[type="email"],
input[type="number"],
input[type="tel"],
textarea{
    @apply w-full border my-2 py-2 px-3 rounded-2xl;
}

*{
    scroll-behavior: smooth;
}

textarea{
    height: 140px;
}

button{
    @apply bg-gray-300;
}

button.primary{
    background-color: #F5385D;
    @apply bg-primary p-2 w-full text-white rounded-2xl;
}

.app{
    width: 80%;
    margin: auto;
}

.active{

    padding-bottom: 2px;
    border-bottom: 2px solid #49557e;
    
}

.navbar-search-icon{
    position: relative;
}

.navbar-search-icon .dot{
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: tomato;
    border-radius: 5px;
    top: -8px;
    right: -8px;
}

h1 {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }

  
 h2{
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    /* margin-bottom: 0.83em; */
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
 }

 